h1 {
	color: #700000;
	font-family: "Arial",Verdana,Sans-serif;
}

h2 {
	color: #880000;
	font-family: "Arial",Verdana,Sans-serif;
}

h3 {
	color: #0000aa;
	font-size: 18px;
	font-family: "Arial",Verdana,Sans-serif;
	font-weight: normal;
}

h4 {
	color: #2222aa;
	font-size: 12px;
	font-family: "Arial",Verdana,Sans-serif;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 0px;
}

pre {
	font-weight: bold;
	color: #880000;
	font-family: "Courier New",Courier,monospace;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 24px;
}

pre.code {
	font-weight: bold;
	color: #880000;
	font-family: "Courier New",Courier,monospace;
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	font-family: "Arial",Verdana,Sans-serif;
}

ul {
	font-family: "Arial",Verdana,Sans-serif;
}

code {
	color: #882222;
	margin-top: 0px;
	margin-bottom: 0px;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;	
}

table.column_lined {
    border: 0px solid black;
    border-collapse: separate;	
}

table.layout, th, td {
    border: 0px solid black;
}

th {
    background-color: #dd9999;
}

td {
	font-size: 14px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}
